<!-- static/ppm_work.html -->
<!doctype html>
<html lang="en">
<head><meta charset="utf-8"/><meta name="viewport" content="width=device-width,initial-scale=1"/></head>
<body>
  <h1>PPM Work</h1>
  <input type="file" id="ppmFile" style="display:none">
  <button id="btnUpload">Select Excel</button>
  <button id="btnLoadFromServer">Load Server File</button>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/ppm_work.js?v=1"></script>
</body>
</html>
